<form method="POST" enctype="multipart/form-data" action = "request/create">
    <p>
    <h1>Form</h1></p>
    <input type="text" id="fname" name="fname" placeholder="Enter first name"><em>*</em><br><br>
    <input type="text" id="lname" name="lname" placeholder="Enter last name"><br><br>
    <input type="email" id="email" name="email" placeholder="Enter email"><br><br>
    <input type="tel" id="tel" name="tel" placeholder="Enter telephone"><em>*</em><br><br>
    <input id="picture" name="picture" type="file"><em>*</em><br><br>
    <input class="bt" type="submit" value="Submit">
</form>
